<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | J Adrian Hernandez</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include header.html %}
    <main class="page-content">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html> 